{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": "css"
            }
        ],
        [
            "babel-plugin-root-import",
            {
                "compilerOptions": {
                    "baseUrl": ".",
                    "paths": {
                        "~/*": [
                            "src/*"
                        ]
                    }
                }
            }
        ]
    ]
}